audit_location = "l" 
verbose = "y" 
online = "ie" 
strComputer = "" 
ie_visible = "n" 
ie_auto_submit = "y" 
ie_submit_verbose = "n" 
ie_form_page = "http://IT-MU-QPCU/winventory/admin_pc_add_new.php" 
input_file = "" 
email_to = "munwin@qpcu.org.au" 
email_from = "munwin@qpcu.org.au" 
email_server = "192.168.10.18" 
audit_local_domain = "y" 
local_domain = "LDAP://DC=ho,DC=qpcu,DC=org,DC=au" 
hfnet = "n" 
Count = 0 
number_of_audits = 20 
script_name = "audit.vbs" 
monitor_detect = "y" 
printer_detect = "y" 
software_audit = "y" 
uuid_type = "uuid" 
